<p>Active Topic</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>
<p>
  <strong>Max Replies:</strong>
  <%= @topic.numReplies %>
</p>
<p>
  <strong>Wager:</strong>
  <%= @topic.wager %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @topic.owner.username %>
</p>

<p>
  <strong>Challenger:</strong>
  <%= @topic.challenger.username %>
</p>

<%= render @topic.comments, namespace: 'active'%>

<%= render 'active/comments/form'%>

<%= link_to 'Back', topics_path %>
