<%= form_with(model: topic, local: true) do |form| %>
<% if topic.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

  <ul>
    <% topic.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Title
    </span>
  </div>
  <%= form.text_field :title, class: 'form-control' %>
</div>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Description
    </span>
  </div>
  <%= form.text_field :description, class: 'form-control' %>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Number of Replies
    </span>
  </div>
  <%= form.text_field :numReplies, class: 'form-control' %>
</div>

<div class="input-group mb-3 bg-">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Wager
    </span>
  </div>
  <%= form.text_field :wager, class: 'form-control' %>
</div>


<div class="input-group mb-3">
  <div class="input-group-prepend">
  <%=link_to "New Category", new_category_path, class: 'btn btn-light' %>
  <%=collection_select(:topic, :category_id, cats.all, :id, :name, prompt: 'Select Existing Category')%>
</div>
</div>


<div class="actions">
  <%= form.submit "Update Topic", class:'btn btn-primary' %>
  <%= link_to 'Back to Browse', topics_path, class: 'btn btn-light' %>
</div>

<%end%>
