<%if topic.owner.id == current_user.id%>
<tr>
  <td><%= topic.title %></td>
  <td><%= topic.description %></td>
  <td><%= topic.numReplies %></td>
  <td><%= topic.wager %></td>
  <td><%= topic.owner.username %></td>
  <td class= 'text-left' style = 'width: 29%'><%= link_to_if(!topic.active, 'Show', topic, class: 'btn btn-light'){}%>
      <%= link_to_if(topic.active, 'Show',active_topic_path(topic), class: 'btn btn-light'){}%>
  <%=link_to_if((topic.owner_id == current_user.id) && !topic.active, 'Edit', edit_topic_path(topic), class: 'btn btn-light'){}%>
  <%= link_to_if((topic.owner_id == current_user.id) && !topic.active, 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light'){}%></td>

</tr>
<%elsif topic.challenger.id == current_user.id%>
<tr>
  <td><%= topic.title %></td>
  <td><%= topic.description %></td>
  <td><%= topic.numReplies %></td>
  <td><%= topic.wager %></td>
  <td><%= topic.owner.username %></td>
  <td><%= link_to_if(!topic.active, 'Show',topic, class: 'btn btn-light'){}%>
      <%= link_to_if(topic.active, 'Show',active_topic_path(topic), class: 'btn btn-light'){}%></td>


<%else%>
<td><%= link_to_if(topic.judging && (topic.owner_id != current_user.id && topic.challenger_id != current_user.id), 'Judge', judging_topic_path(topic)){}%></td>
<%end%>
