<h1>Topics</h1>

<div class ='row justify-content-center'>
<table  class="table table-responsive table-dark" style= 'width: 70%'>
  <thead>
    <tr>
      <th scope = 'col'>Title</th>
      <th scope = 'col'>Position</th>
      <th scope = 'col'>Replies</th>
      <th scope = 'col'>Wager</th>
      <th scope = 'col'>Owner</th>
      <th scope = 'col'>Action</th>

    </tr>
  </thead>

  <tbody>
    <% @categories.each do |cat| %>
    <% @topics.where("category_id = ?", cat.id).each_with_index do |topic| %>
    <%if !topic.complete && !topic.active%>
      <tr>
        <td class = 'text-left'><%= topic.title %></td>
        <td class = 'text-left'><%= topic.description %></td>
        <td><%= topic.numReplies %></td>
        <td>$<%= topic.wager %></td>
        <td><%= topic.owner.username %></td>
        <td class = 'text-left' style = "width: 29%">
        <%= link_to 'Show', topic, class: 'btn btn-light'%>
        <%= link_to_if(topic.owner == current_user, 'Edit', edit_topic_path(topic), class: 'btn btn-light'){}%>
        <%= link_to_if(topic.owner == current_user, 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light'){}%></td>
      </tr>
      <% end %>
      <% end %>
      <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Topic', new_pending_topic_path, class: 'btn btn-primary' %>
