

<h1>Topics</h1>


<table  class="table table-responsive table-dark" >
  <thead>
    <tr>
      <th scope = 'col'>Title</th>
      <th scope = 'col'>Position</th>
      <th scope = 'col'>Replies</th>
      <th scope = 'col'>Wager</th>
      <th scope = 'col'>Owner</th>
      <th scope = 'col', colspan = '3'> Action </th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |cat| %>
    <tr scope = "row">

    </tr>
    <% @topics.where("category_id = ?", cat.id).each_with_index do |topic| %>
      <tr>
        <td class = 'text-left'><%= topic.title %></td>
        <td class = 'text-left'><%= topic.description %></td>
        <td><%= topic.numReplies %></td>
        <td>$<%= topic.wager %></td>
        <td><%= topic.owner.username %></td>
        <td class = 'text-left'>
            <%= link_to_if(!topic.active, 'Show', topic, class: 'btn btn-light'){}%>
            <%if topic.active && (current_user == topic.challenger || current_user == topic.owner) %>
            <%=link_to('Show', topic, class: 'btn btn-light')%>
            <%elsif topic.active%>
            <button class= 'btn btn-danger disabled', style = 'width: 105%'>Active Topic</button>
            <%end%>
        <%= link_to_if(topic.owner == current_user, 'Edit', edit_topic_path(topic), class: 'btn btn-light'){}%>
        <%= link_to_if(topic.owner == current_user, 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-light'){}%></td>
      </tr>
      <% end %>
      <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Topic', new_pending_topic_path, class: 'btn btn-primary' %>
