<%=  stylesheet_link_tag 'topics', media: 'all', 'data-turbolinks-track': 'reload' %>
  <div class="row justify-content-center text-left" >
    <div class="col-auto">
<table class="table  table-borderless table-dark">
<tbody>
  <tr>
      <td scope = 'row'>  <strong>Title:</strong> <%= @topic.title %> </td>
</tr>
<tr>
      <td scope =  'row'>  <strong>Position:</strong>
       <%= @topic.description %> </td>
<tr>
      <td scope =  'row'>  <strong>Number of Replies:</strong>
      <%= @topic.numReplies %> </td>
</tr>
<tr>
      <td scope =  'row'>  <strong>Wager:</strong>
       <%= number_to_currency(@topic.wager) %> </td>
</tr>
<tr>
      <td scope =  'row'>  <strong>Owner:</strong>
        <%= @topic.owner.username %> </td>
</tr>

  </tbody>
</table>
</div>
</div>
<%= link_to_if(@topic.owner_id == current_user.id, 'Edit', edit_topic_path(@topic), class: 'btn btn-primary' ){}%>
<%= link_to_if(!@topic.active && (@topic.owner_id != current_user.id), 'Join', active_topic_path(@topic), method: :patch, class: 'btn btn-primary'){}%>
<%= link_to 'Back to Browse', topics_path, class: 'btn btn-light' %>
