<div class="row justify-content-center text-left" >
  <div class="col-auto">
<table class="table  table-borderless table-dark">
<tbody>
<tr>
    <td scope = 'row'>  <strong>Title:</strong> <%= @topic.title %> </td>
</tr>
<tr>
    <td scope =  'row'>  <strong>Description:</strong>
     <%= @topic.description %> </td>
<tr>
    <td scope =  'row'>  <strong>Number of Replies:</strong>
    <%= @topic.numReplies %> </td>
</tr>
<tr>
    <td scope =  'row'>  <strong>Wager:</strong>
     $<%= @topic.wager %> </td>
</tr>

<tr>
<td scope =  'row'>  <strong>Creator:</strong>
<%= @topic.owner.username %>
 </tr>

<tr>
  <td scope =  'row'>  <strong>Challenger:</strong>
    <%= @topic.challenger.username %> </td>
</tr>


</tbody>
</table>
</div>
</div>
