<%= stylesheet_link_tag 'user_profile', media: 'all', 'data-turbolinks-track': 'reload' %>
<h3>User Profile: <%= @user.username %></h3>
<p>
  <strong>Arguit Record:</strong> <%=@user.winner_topics.count%> - <%=@user.winner_topics.count%></p>
<div class = 'row justify-content-center'>
<table class="table table-responsive table-dark" style = 'width: 70%'>
  <thead>
    <tr>
      <th scope = 'col', colspan = '8'><h4><u>Topics I Own</u></h4></th>
      </tr>
    <tr>
      <th scope = 'col'>Title</th>
      <th scope = 'col'>Position</th>
      <th scope = 'col'>Replies</th>
      <th scope = 'col'>Wager</th>
      <th scope = 'col'>Owner</th>
      <th scope = 'col', colspan = '3'>Action</th>
    </tr>
  </thead>

  <tbody>
    <%= render @user.topics%>

  </tbody>
</table>
<table class="table table-responsive table-dark" style = 'width: 70%'>
  <thead>
    <tr>
      <th scope = 'col', colspan = '8'><h4><u>Topics I've Challenged</u></h4></th>
      </tr>
    <tr>
      <th scope = 'col'>Title</th>
      <th scope = 'col'>Position</th>
      <th scope = 'col'>Replies</th>
      <th scope = 'col'>Wager</th>
      <th scope = 'col'>Owner</th>
      <th scope = 'col', colspan = '3'>Action</th>
    </tr>
  </thead>

  <tbody>
    <%= render @user.challenger_topics%>

  </tbody>
</table>
</div>
