<h1>Open Judgments</h1>
<%if @topics.none? {|topic| canJudge(current_user, topic)} %>
<br><br><h3> Nothing here.</h3><br>
<%else%>
<div class ='row justify-content-center'>
<table  class="table table-responsive table-dark" style= 'width: 70%'>
  <thead>
    <tr>
      <th scope = 'col'>Title</th>
      <th scope = 'col'>Position</th>
      <th scope = 'col'>Replies</th>
      <th scope = 'col'>Wager</th>
      <th scope = 'col'>Owner</th>
      <th scope = 'col'>Challenger</th>
      <th scope = 'col'>Action</th>

    </tr>
  </thead>

  <tbody>
    <% @categories.each do |cat| %>
    <% @topics.where("category_id = ?", cat.id).each_with_index do |topic| %>
    <%if canJudge(current_user, topic)%>
      <tr>
        <td class = 'text-left'><%= topic.title %></td>
        <td class = 'text-left'><%= topic.description %></td>
        <td><%= topic.numReplies %></td>
        <td><%= number_to_currency(topic.wager) %></td>
        <td><%= topic.owner.username %></td>
        <td><%= topic.challenger.username %></td>
        <td style = "width: 15%">
        <%= link_to 'Judge', judging_topic_path(topic), class: 'btn btn-light'%>
      </tr>
      <% end %>
      <% end %>
      <% end %>
  </tbody>
</table>

<br>
</div>
<%end%>

<%= link_to 'Browse Open Topics', categories_path, class: 'btn btn-light' %>
