<p>Complete Topic</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>
<p>
  <strong>Max Replies:</strong>
  <%= @topic.numReplies %>
</p>
<p>
  <strong>Wager:</strong>
  <%= @topic.wager %>
</p>
<p>
<%= render partial: 'judging/comments/comment', collection: @topic.comments %>
<%= render partial: 'judging/judgements/form', topic: @topic %>
</p>
<%= link_to 'Back', topics_path %>
