<p>Complete Topic</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>
<p>
  <strong>Max Replies:</strong>
  <%= @topic.numReplies %>
</p>
<p>
  <strong>Wager:</strong>
  <%= @topic.wager %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @topic.owner.username %>
</p>

<p>
  <strong>Challenger:</strong>
  <%= @topic.challenger.username %>
</p>

<%= render partial: 'active/comments/comment', collection: @topic.comments %>

<%= link_to 'Back', topics_path %>
