<p class="alert"><%= alert %></p>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/sign-in/">

  <%= stylesheet_link_tag 'log_in', media: 'all', 'data-turbolinks-track': 'reload' %>




  <!-- Custom styles for this template -->
  <link href="signin.css" rel="stylesheet">
</head>
<body class="text-center">

  <div class='form-signin'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h1 class="h1 mb-3 font-weight-normal">Please Login</h1>
    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder: 'Email Address'%>
    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password, autocomplete: "current-password", class:'form-control', placeholder: "Password" %>

    <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class:'checkbox mb-3'%>
      <%= f.label :remember_me %>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log In", class: 'btn btn-lg btn-primary' %>
    </div>
    <% end %>

  </div>

  <%=render "devise/shared/links"%>



</body>
