<%= form_with(model: category, local: true) do |form| %>
<% if category.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

  <ul>
    <% category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class = 'row justify-content-center'>
<div class="input-group mb-3" style= 'width: 50%'>
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Category Name
    </span>
  </div>
  <%= form.text_field :name, class: 'form-control' %>
</div>

<div class="actions">
  <%= form.submit "Create Category", class:'btn btn-primary' %>
  <%= link_to 'Back to Browse', topics_path, class: 'btn btn-light' %>
</div>
</div>
<% end %>
