<p id="notice"><%= notice %></p>

<h1>Categories</h1><br>
<div class = 'row justify-content-center'>
<table style= 'width: 50%'>
  <thead>
    <tr>
      <th><u>Open for Argument</u></th>
      <th><u>Open for Judgment</u></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |cat| %>
    <%if (cat.topics).any? {|topic| topic.open}%>
      <tr>
        <td><%= link_to cat.name, cat, class: 'btn btn-light m-2'%>
        </td>

      <%end%>
      <%if (cat.topics).any? {|topic| canJudge(current_user, topic)}%>
          <td><%= link_to cat.name, judging_category_path(cat), class: 'btn btn-light m-2'%>

          </td>
        <% end %>
      <% end %>
        </tr>
        <tr>
          <td>
            <%= link_to "Browse All Open Topics", topics_path, class: 'btn btn-primary'%>
            </td>
          <td>
            <%= link_to "Browse All Open Judgments", judging_topics_path, class: 'btn btn-primary'%>
          </td>
        </tr>
  </tbody>
</table>
</div>
<br>
