<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>ARGUIT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/cover/">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>







    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-left mb-0">ARGUIT</h3>
      <nav class="nav nav-masthead justify-content-center float-md-right">
        <a class="nav-link"
          <%=link_to_if(current_user.nil?, "Login", new_user_session_path) do
          link_to('Sign Out',  destroy_user_session_path, :method => 'delete')
        end%></a>
        <a class="nav-link" <%=link_to 'New Topic', new_pending_topic_path%> </a>
        <a class="nav-link"  <%=link_to 'Browse Topics',topics_path%></a>


      </nav>
    </div>
  </header>

  <div class = "main container">
    <%=yield%>
  </div>

  <footer class="mt-auto text-white-50">
    <p></p>
  </footer>
</div>



  </body>
</html>
